<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
  </head>
  <body>
    <h1>Chat</h1>

    {{#each chats}}
    <h2>Chat ID: {{this._id}}</h2>
    <div>
      {{#each this.messages}}
      <div>
        <strong>{{this.sender}}:</strong> {{this.content}}
      </div>
      {{/each}}
    </div>
    {{/each}}

    <form action="/send-message" method="POST">
      <!-- Resto del formulario para enviar mensajes -->
    </form>
  </body>
</html>
