<div class="LoginPageContainer">
    <div class="LoginRegisterPage">
        <form id="loginForm">
        
        <h1>Logueate</h1>


            <p>Email</p>
            <input type="text" name="email">

            <p>Contraseña</p>
            <input type="password" name="password">

            <input type="submit" style="display: block; margin: 10px 0px">

            <p><a href="/api/sessions/github">GitHub</a></p>

            <p>Si no estas registrado, hazlo <a href="/register">aquí</a></p>
        </form>
    </div>

</div>    

<script src="/js/login.js"></script>