<div class="LoginRegisterPage">

    <form id="registerForm">
    <h1>Registrate</h1>


        <p>Nombre</p>
        <input type="text" name="first_name">

        <p>Apellido</p>
        <input type="text" name="last_name">

        <p>Email</p>
        <input type="text" name="email">

        <p>Contraseña</p>
        <input type="password" name="password">

        <p id="complete-values" style="color: red;"></p>

        <input type="submit" style="display: block; margin: 10px 0px">
    
    <p>Si ya estas registrado, inicia sesion <a href="/login">aquí</a></p>
    </form>

</div>

<script src="/js/register.js"></script>