.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98.9%;
    padding: 0px 10px;
    background-color: rgb(88, 255, 255);
}

h1 {
    padding: 10px;
}

.contenedor {
    padding: 5px 20px;
}

.paginate {
    display: flex;
    bottom: 5px;
    align-items: center;
}

.page {
    padding: 10px;
}

.register-login-logout{
    width: 100%;
    display: flex;
    justify-content: end;
}

.header-btn {
    background-color: red;
    width: 10%;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    border: none;
    transition: 0.5s;
    height: 50px;
    margin: 10px;
}


.header-btn:hover {
    transform: scale(1.1);
}

button {
    background-color: rgb(88, 255, 255);
    border-radius: 5px;
    border: none;
    transition: 0.2s;
    padding: 10px;
}
button:hover {
    transform: scale(1.1);
}