<div>
    <h1>Home with Socket</h1>
    <h3>Products</h3>
    <table id="productos-tabla" class="table table-sm table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col" >Price</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js">
