<html>
  <head>
    <meta charset="UTF-8" />
    <title>Log-In</title>
  </head>
  <body>
    <h3>Log in to Start</h3>

    <form method="POST" action="/login">
      <label>Email:</label>
      <input type="email" name="email" required /><br /><br />

      <label>Pass:</label>
      <input type="password" name="password" required /><br /><br />

      {{#if error}}
        <p style="color: red;">{{error}}</p>
      {{/if}}
      <button type="submit">Log In</button>
    </form>

    <p>¿Are you new? Go to  <a href="/register">register page</a></p>
  </body>
</html>
