<div class="LoginPageContainer text-center mx-auto my-5">
    <div class="LoginRegisterPage col-6">
        <form id="loginForm" class="needs-validation" novalidate>
        
            <h1 class="mb-4">Log In</h1>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
                <div class="invalid-feedback">
                    Please enter a valid email address"
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
                <div class="invalid-feedback">
                    Please enter a valid password"
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Log in</button>
            <p>Or you can register using <a href="/api/sessions/github">GitHub</a></p>
        </form>
    <div class="col-6">
        <p>¿Are you new? Go to  <a href="/register">register page</a></p>
    </div>
    </div>
</div>    

<script src="/js/login.js"></script>
